{% extends 'base.html' %}

{% block title %}Daily Sales Report{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">New Pavan Restaurant & Bar</h2>
    <p class="text-center">
        Date: {{ today.strftime('%Y-%m-%d') }}<br>
    </p>

    {{ report_data }}

    {{ grand_total }}

    <!-- {% for brand_type, brands in report_data.items() %}
    <h3>{{ brand_type }}</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Brand Name</th>
                {% for brand_name, brand_data in brands.items() %}
                    {% for size in brand_data['sizes'].keys() %}
                        <th>OB ({{ size }}ml)</th>
                        <th>CB ({{ size }}ml)</th>
                        <th>New Stock ({{ size }}ml)</th>
                        <th>Sale ({{ size }}ml)</th>
                        <th>Amount ({{ size }}ml)</th>
                    {% endfor %}
                    <th>Total OB</th>
                    <th>Total CB</th>
                    <th>Total Sale</th>
                    <th>Total Amount</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for brand_name, brand_data in brands.items() %}
            <tr>
                <td>{{ brand_name }}</td>
                {% for size, size_data in brand_data['sizes'].items() %}
                <td>{{ size_data.ob }}</td>
                <td>{{ size_data.cb }}</td>
                <td>{{ size_data.new_stock }}</td>
                <td>{{ size_data.sale }}</td>
                <td>{{ size_data.amount }}</td>
                {% endfor %}
                <td>{{ brand_data['total'] is not none and brand_data['total'].ob or 0 }}</td>
                <td>{{ brand_data['total'] is not none and brand_data['total'].cb or 0 }}</td>
                <td>{{ brand_data['total'] is not none and brand_data['total'].sale or 0 }}</td>
                <td>{{ brand_data['total'] is not none and brand_data['total'].amount or 0 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="{{ brands|length * 5 + 1 }}">Total for {{ brand_type }}</th>
                <th>{{ brands | sum(attribute='total.ob') }}</th>
                <th>{{ brands | sum(attribute='total.cb') }}</th>
                <th>{{ brands | sum(attribute='total.sale') }}</th>
                <th>{{ brands | sum(attribute='total.amount') }}</th>
            </tr>
        </tfoot>
    </table>
    {% endfor %}-->

    <!-- <h4 class="text-right">Grand Total: ₹{{ grand_total }}</h4>
</div> -->
{% endblock %}
